<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <!--
     <httpModules>
      <add name="UrlRoutingModule" type="Mvc.Framework.UrlRoutingModule"/>
    </httpModules>
    -->
    <compilation debug="true"/>
    <authentication mode="Windows"/>
    <pages/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="UrlRoutingModule" type="Mvc.Framework.UrlRoutingModule"/>
    </modules>
  </system.webServer>
</configuration>